@import './variables.scss';

// 主体样式：定义页面背景色和文字颜色，并添加过渡效果
body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}


// antd 主题样式：定义通用背景色、文字颜色，并去除边框
.ant-drawer-content,
.ant-menu,
.ant-splitter {
    background-color: var(--background-color) !important; // 背景色，重要属性覆盖默认值
    color: var(--text-color) !important; // 文字颜色，重要属性覆盖默认值
    border: none !important; // 移除默认边框样式
}

.ant-drawer-close,
.ant-menu-title-content,
.ant-menu-submenu-arrow {
    color: var(--text-color) !important; // 设置文字和箭头颜色，确保与主题颜色一致
}

// antd  menu选中项背景色：适用于特定类名的选中状态
.ant-menu-item-selected,
:where(.css-apn68).ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active,
:where(.css-apn68).ant-menu-light>.ant-menu:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active,
:where(.css-dev-only-do-not-override-apn68).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-apn68).ant-menu-light>.ant-menu .ant-menu-item-selected {
    background-color: var(--selected-background) !important; // 选中项背景色，强调选中状态
    color: var(--text-color) !important; // 设置文字和箭头颜色，确保与主题颜色一致

}

// antd 菜单标题内容和箭头颜色
.ant-splitter-bar-collapse-bar,
.ant-splitter-bar-collapse-bar-start,
.ant-splitter-bar-collapse-bar-end,
:where(.css-dev-only-do-not-override-apn68).ant-splitter-horizontal>.ant-splitter-bar .ant-splitter-bar-collapse-bar-start,
:where(.css-dev-only-do-not-override-apn68).ant-splitter-horizontal>.ant-splitter-bar .ant-splitter-bar-collapse-bar-end,
:where(.css-dev-only-do-not-override-apn68).ant-splitter>.ant-splitter-bar .ant-splitter-bar-collapse-bar:active {
    // background: aquamarine !important;
    background-color: var(--background-color) !important; // 背景色，重要属性覆盖默认值
    opacity: 0.8;
}

:where(.css-dev-only-do-not-override-apn68)[class^="ant-splitter"] [class^="ant-splitter"],
:where(.css-dev-only-do-not-override-apn68)[class*=" ant-splitter"] [class^="ant-splitter"],
:where(.css-dev-only-do-not-override-apn68)[class^="ant-splitter"] [class*=" ant-splitter"],
:where(.css-dev-only-do-not-override-apn68)[class*=" ant-splitter"] [class*=" ant-splitter"] {
    color: var(--text-color) !important; // 文字颜色，重要属性覆盖默认值

}

.ant-btn {
    color: var(--text-color) !important;
}

// 特殊样式

// 背景线条
.container {
    width: 100%;
    height: 100%;
    --color: var(--container-border-color);
    background-color: var(--background-color);
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
    background-size: 55px 55px;
}