/* src/styles/_variables.scss */
:root {
    --background-color-light: #fff;
    --text-color-light: #000;
    --button-background-light: #007bff;
    --button-text-color-light: #fff;
    --shadow-light: 0 2px 10px rgba(0, 0, 0, 0.1); // 浅色主题阴影
    --code-background-light: #f8f8f8;
    --code-text-color-light: #333;

    --background-color-dark: #121212;
    --text-color-dark: #e0e0e0;
    --button-background-dark: #1d72b8;
    --button-text-color-dark: #fff;
    --shadow-dark: 0 2px 10px rgba(48, 48, 48, 0.565); // 深色主题阴影
    --code-background-dark: #2d2d2d;
    --code-text-color-dark: #333;

}

[data-theme='light'] {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --button-background: var(--button-background-light);
    --button-text-color: var(--button-text-color-light);
    --shadow: var(--shadow-light); // 使用浅色主题阴影

    --code-background: var(--code-background-light);
    --code-text-color: var(--code-text-color-light);
}

[data-theme='dark'] {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --button-background: var(--button-background-dark);
    --button-text-color: var(--button-text-color-dark);
    --shadow: var(--shadow-dark); // 使用深色主题阴影

    --code-background: var(--code-background-dark);
    --code-text-color: var(--code-text-color-dark);
}