/* 容器和公共样式 */
.showContainer {
  width: 80vw;
  max-width: 1200px;
  padding: 2rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.separator {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* 栅格布局容器 */
.gridContainer {
  display: grid;
  gap: 16px;
  /* 默认间距 */
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  /* 默认列宽 */
  grid-auto-rows: 130px;
  /* 默认行高 */
  grid-auto-flow: dense;
  /* 紧凑布局 */
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out;
  /* 为容器添加过渡动画 */

  /* 适配屏幕宽度为 1024px 以上的大屏幕 */
  @media (max-width: 1200px) {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 12px;
    /* 调整间距 */
  }

  /* 适配屏幕宽度在 600px 到 1024px 之间的平板设备 */
  @media (max-width: 1024px) and (min-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 10px;
    /* 更小的间距 */
    grid-auto-rows: 100px;
    /* 更小的行高 */
  }

  /* 适配屏幕宽度为 600px 以下的手机屏幕 */
  @media (max-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 8px;
    /* 更小的间距 */
    grid-auto-rows: 80px;
    /* 更小的行高 */
  }

  /* 适配屏幕宽度为 375px 以下的超小手机屏幕 */
  @media (max-width: 375px) {
    grid-template-columns: 1fr;
    /* 只有一列 */
    gap: 6px;

  }

  /* 适配屏幕宽度为 320px 以下的超超小手机屏幕 */
  @media (max-width: 320px) {
    grid-template-columns: 1fr;
    /* 只有一列 */
    gap: 4px;

  }
}

@media (max-width: 900px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* 设置合理的网格间距 */
  }

  /* 主题切换卡片 */
  .gridItemThemeSwitcher {
    grid-column: span 3 !important;
    grid-row: span 3 !important;
  }

  .gridItemImage {
    grid-column: span 6 !important;
    grid-row: span 2 !important;
  }

  .gridItemAbout {
    grid-column: span 6 !important;
    grid-row: span 3 !important;
  }
}


/* 适配屏幕宽度为 600px 以下的手机屏幕 */
@media (max-width: 600px) {
  .gridContainer {
    display: block;

    .gridItem {
      width: 100%;
      margin-bottom: 16px;
    }

  }
}

/* 适配屏幕宽度为 375px 以下的超小手机屏幕 */
@media (max-width: 375px) {
  .gridContainer {
    display: block;

    .gridItem {
      width: 100%;
      margin-bottom: 16px;
    }

  }
}


/* Grid 项目的基础样式 */
.gridItem {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 大尺寸卡片 */
.gridItemLarge {
  grid-column: span 2;
  grid-row: span 2;
}

/* 关于卡片 */
.gridItemAbout {
  grid-column: span 5;
  grid-row: span 2;
  font-size: clamp(12px, calc(1rem + 2vw), 20px);
  /* 保证字体大小在合理范围内 */
}

/* 图片卡片 */
.gridItemImage {
  grid-column: span 4;
  grid-row: span 1;
  padding: 0 20px;
}

.gridItemImageContent {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  object-fit: contain;
}

/* 主题切换卡片 */
.gridItemThemeSwitcher {
  grid-column: span 2;
  grid-row: span 3;
}

/* Gallery 管理卡片 */
.gridGalleryManager {
  grid-column: span 2;
  grid-row: span 3;
}


.link-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;


  .link-card-icon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      // 平移
      transform: translateY(-10px);
      // 放大
      transform: scale(1.5);

    }

    svg {
      width: 40%;
      height: 40%;
    }

  }

  .link-card-title {
    position: absolute;
    bottom: 5%;
    left: 2%;
    padding: 5px;
    padding: 5px;
    background: #180614;
    border-radius: 5px;
  }
}

.link-card-juejin {
  background: linear-gradient(0, #fff, #879fc8);
}

.link-card-yuqe {
  background: linear-gradient(0, #fff, #f7e8b2);
}



/* About 组件样式 */
.aboutContainer {
  text-align: start;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  line-height: 1.6;
}

.aboutTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.aboutText {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

/* 排序动画 */
.sorting {
  opacity: 0;
  /* 排序时逐渐消失 */
  transform: translateY(-10px);
  /* 向上移动 */
}

/* 卡片内容区域 */
.cardContent {
  width: 100%;
  height: 100%;
}

.recordContainer {
  margin-top: 30px; // 与其他内容分开
  text-align: center; // 居中显示备案号
}

.recordText {
  font-size: 0.9em; // 小一号的字体
  color: #888; // 使用灰色以降低视觉冲击
}