/* Center the content vertically and horizontally */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  // background-color: antiquewhite;
}

.recordContainer {
  margin-top: 30px; // 与其他内容分开
  text-align: center; // 居中显示备案号
}

.recordText {
  font-size: 0.9em; // 小一号的字体
  color: #888; // 使用灰色以降低视觉冲击
}

/* Main title styling */
.title {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  // color: #333;
  margin: 0;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

/* Keyframes for fade-in and slide-up effect */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Subtext styling */
.subtext {
  font-size: 1.2rem;
  // color: #666;
  margin-top: 10px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s 0.5s forwards;
}