.splitParent {
  overflow: hidden;
  display: inline;
  white-space: normal;
  word-wrap: break-word;
}

.wordWrapper {
  display: inline-block;
  white-space: nowrap;
}

.letter {
  display: inline-block;
  transform: transition-opacity;
  will-change: transform;
}

.space {
  display: inline-block;
  width: 0.3em;
}