// @import './variables.scss';

.note {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.note-content {
  display: flex;
  margin-top: 15px;
  height: calc(100vh - 50px - 15px);

}

.menu {
  width: 300px;
  overflow-y: scroll;
  padding: 0 15px;
  height: 100%;
  // margin-left: -20px;
}

.content {
  position: relative;
  flex: 1;
  height: 100%;
  padding: 24px;
  overflow-y: scroll;

  .fadeIn {
    opacity: 0;
    transform: translateY(-20px);
    /* 初始位置稍微上移 */
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .visible {
    opacity: 1;
    transform: translateY(0);
    /* 恢复到原始位置 */
  }
}


.header {
  padding: 0 15px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow); // 使用主题阴影
  border-bottom: 1px solid var(--divider);

  h3 {
    cursor: pointer;
  }

}

.toggle-drawer {
  height: 45px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--divider);

  padding: 0 15px;

  .toggle-drawer-btn {
    cursor: pointer;
  }
}





// 手机（最大宽度 600px）
@media (max-width: 600px) {
  .menu-container-pc {
    display: none;
  }

  .content {
    height: calc(100vh - 50px - 80px);
  }
}

// 平板（最大宽度 900px）
@media (max-width: 900px) {
  .menu-container-pc {
    display: none;
  }

  .content {
    height: calc(100vh - 50px - 80px);

  }
}

// PC（最小宽度 901px）
@media (min-width: 901px) {
  .toggle-drawer {
    display: none;
  }

  .content {
    height: calc(100vh - 50px - 30px);
  }
}

:global {
  .drawer-menu {
    .drawer-body {
      overflow-y: scroll !important;
      overflow-x: hidden !important;
    }

  }
}