.MarkdownRenderer {

  .code-inline {
    background-color: var(--code-background) !important;
    border-radius: 4px; // 圆角
    padding: 2px 4px; // 内边距
    font-family: 'Courier New', Courier, monospace; // 字体样式
    color: #bf5670;
  }


  .code-block-container {
    position: relative;
    margin-bottom: 1rem;
  }

  .copy-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: var(--code-background) !important;
    color: var(--text-color) !important;
    border: none;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;

    z-index: 10;

    &:hover {
      background-color: #e0e0e0; // 悬停效果
    }
  }


  .custom-ul {
    list-style: none;
  }

  .custom-list-item {
    display: flex;
    align-items: flex-start;
    /* 确保项目符号与文本顶端对齐 */
    gap: 8px;
    /* 控制项目符号与文本的间距 */
    margin: 4px 0;

    .list-icon {
      flex-shrink: 0;
      color: #0070f3;
      /* 图标的宽度，确保不同层级对齐 */
      text-align: center;
      /* 控制图标位置 */
    }

    .list-content {
      flex-grow: 1;
    }
  }

  .list-level-0 {
    padding-left: 20px;
  }

  .list-level-1 {
    padding-left: 30px;
  }

  .list-level-2 {
    padding-left: 40px;
  }

  .list-level-3 {
    padding-left: 50px;
  }


}