.tree {
    font-family: Arial, sans-serif;
}

.tree-node {
    margin-left: 20px;
}

.tree-label {
    cursor: pointer;
    font-weight: bold;
    position: relative;
    padding-left: 20px;
}

.tree-label .arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid var(--text-color);
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
    margin-right: 5px;
    transition: transform 0.3s ease;
    position: absolute;
    left: 0;
    top: 4px;
}

.tree-label .arrow.open {
    transform: rotate(45deg);
    top: 3px;

    /* 展开时箭头旋转 */
}

.tree-children {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
}

.tree-children.open {
    max-height: max-content;
    /* 一个足够大的值来容纳子项 */
    opacity: 1;
}