// 定义版心变量
$max-width: 920px;

// 使用版心变量
.container {
    max-width: $max-width;
    height: 100vh;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    // 其他样式...
}

.drawer-sidebar {
    display: none;
}

.sidebar {
    width: 260px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-right: 3px solid red;
    padding: 10px;
    flex-shrink: 0;
    // 其他样式...
}

.main {
    flex: 1;
    background-color: var(--background-color);
    padding: 0 20px;
    // 其他样式...
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: var(--text-color);
    padding: 5px;

    svg {
        width: 40px;
        height: 40px;
    }
}

.content {
    font-size: 16px;
    line-height: 1.5;
    // 其他样式...
}

.menu-button {
    display: none;
}

.list-container {

    /* 隐藏滚动条 */
    ::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    /* IE 10+ */
    scrollbar-width: none;
    /* Firefox */
}


@media (max-width: 768px) {

    .sidebar,
    .rightbar {
        display: none;
    }

    .drawer-sidebar,
    .menu-button {
        display: block;
    }

}

// 手机设备
@media (max-width: 576px) {
    .container {
        padding: 0;
    }

    .main {
        padding: 0;
    }

}

.item {
    border: 1px solid var(--divider);
    margin-bottom: 30px;
    padding: 20px 15px;
    border-radius: 15px;
}

.imageGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    margin-top: 10px;
}

.imageWrapper {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    // width: 30%;
    height: 80px;
}

.image {
    width: 100%;
    height: auto;
    display: block;
    height: 80px;
    object-fit: cover;

}